/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --hero-color: #b4d0e7;
    --highlighted-color: #0061ff;
    --primaty-color: #0061ff;
    --secondary-color: #aaa;
    
    --space: 40px;
    --space-small: 20px;
    --space-large: 120px;
    
    --fa-li-margin: 18px;
}




/* Generics */
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 70px;
    font-weight:900;
    margin-bottom:  var(--mg-bt);
}

h2 {
    font-size: 40px;
    font-weight:700;
    margin-bottom: 40px;
}

h3 {
    font-weight:700;
    margin-bottom: 20px;
}

h4 {
    margin-bottom:  var(--mg-bt-small);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

a:hover {
    text-decoration: none;
    color: var(--highlighted-color);
    padding: 8px 16px;
    border-bottom: 2px solid var(--highlighted-color);
}

ul {
    list-style-type: none;
}

hr {
    border-top: 1px solid #aaa;
    width: 30%;
    margin: 40px 0;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 27px 16px;
}

.nav a:hover {
    text-decoration: none;
    color: var(--highlighted-color);
    padding: 27px 16px;
    border-bottom: 2px solid var(--highlighted-color);
}



.btn-normal {
    border: 2px solid #aaa;
    text-decoration: none;
    padding: 8px 16px;
}

.btn-normal:hover {
    border: 2px solid var(--highlighted-color);
    text-decoration: none;
    padding: 8px 16px;
    background-color: var(--highlighted-color);
    color: white;
}

.btn-normal-100 {
    background-color: white;
    border: 2px solid white;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-normal-100:hover {
    background-color: var(--highlighted-color);
    border: 2px solid var(--highlighted-color);
    width: 100%;
    display: block;
    text-align: center;
    color: white;
}

.btn-highlighted {
    color: white;
    background-color: var(--highlighted-color);
    border: 2px solid var(--highlighted-color);
    padding: 8px 16px;
}

.btn-highlighted:hover {
    color: white;
    background-color: #aaa;
    border: 2px solid #aaa;
    padding: 8px 16px;
}


.btn-highlighted-100 {
    color: white;
    background-color: var(--highlighted-color);
    width: 100%;
    display: block;
    text-align: center;
    border: 2px solid var(--highlighted-color);
}

.btn-highlighted-100:hover {
    color: white;
    background-color: var(--secondary-color);
    width: 100%;
    display: block;
    text-align: center;
    border: 2px solid var(--secondary-color);
}

#btn-login {
    color: white;
    background-color: var(--highlighted-color);
    border: 2px solid var(--highlighted-color);
    padding: 8px 16px;
}

#btn-login:hover {
    color: white;
    background-color: #aaa;
    border: 2px solid #aaa;
    padding: 8px 16px;
}


/* Utilties */

#img {
    display: block;
    max-width: 100%;
}
.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.mg-bn {
    margin-bottom: var(--space);
}

.mg-bn-small {
    margin-bottom: var(--space-small);
}

.mg-bn-large {
    margin-bottom: var(--space-large);
}

.mg-tp {
    margin-top: var(--space);
}

.mg-tp-small {
    margin-top: var(--space-small);
}

.mg-tp-large {
    margin-top: var(--space-large);
}

.pd-tp {
    padding-top: var(--space);
}

.pd-tp-large {
    padding-top: var(--space-large);
}

.pd-bn {
    padding-bottom: var(--space);
}

.pd-bn-large {
    padding-bottom: var(--space-large);
}

.primary-col {
    color: #0061ff;
}


/* #HEADER */

.header {
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 8px 6px #aaa;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.nav-logo {
    border: 1px dashed white;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo .nav-logo-link a {
    border: 1px dashed white;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.top-navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.top-navbar-right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-grow: 1;
    height: 100%;
}





/* #HERO */
.hero {
    background-color: var(--hero-color);
    border: 1px dashed white;
    height: 700px;
    padding-top: 100px;
}

.hero.payoff-content {
    padding: 100px;
}

.hero .payoff-info-left {
    flex-basis: 780px;
    
}

.hero .payoff-info-right {
    flex-grow: 1;
}
.hero .payoff-info-right img {
    max-width: 100%;
}

.hero .payoff-info {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: 200px;
}

.fa-arrow-down {
    font-size: 60px;
   
}

/* #MAIN */
.main {
    margin-top: 80px;
}

.main-conteiner {
    max-width: 1100px;
    margin: 0px auto;
}

/* SECTION PRINCE */

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}

.circle-on {
    border: 4px solid var(--highlighted-color);
}

.circle-off {
    border: 2px solid #ccc;
    
}

.subscription {
    height: 30px;
}

.subscription-options {
    margin-right: 20px;
    line-height: 30px;
    vertical-align: top;
}


.prince-table {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.column {
    width: calc(100% / 3);
    border: 1px solid var(--secondary-color);
    padding-top: 20px;
    padding-bottom: 40px;
}

.column-full {
    width:  100%;
    border: 1px solid var(--secondary-color);
    height: 250px;
}
.column-full-noborder {
    width:  100%;
    height: 250px;
}


.table-flex {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.header-table {
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    padding: 10px 0;
}

.list-info {
    list-style-type:square;
}


.list-info li {
    padding: 10px 0;
}

.body-table {
    padding: 40px;
}

.normal-a {
    color: #0061ff;
    text-decoration:underline;
    padding: 0px 0px;
    border: 0px solid #0061ff;;
}

.normal-a:hover {
    color: #ccc;
    text-decoration: underline;
    padding: 0px 0px;
    border: 0px solid #0061ff;
    ;
}


.btn-left {
    flex-basis: 300px;
}

.footer-table {
    padding: 0 20px;
}

.contacts {
    margin-top: 40px;
    margin-bottom: 40px;
}

.col-3-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.col-large {
    flex-basis: 70%;
}

.col-small {
    flex-basis: 30%;
    padding: 40px;
}

.col-large img{
    max-width: 100%;
    display: block;
}



.operations .row {
    display: flex;
    flex-wrap: wrap;
}

.operations .row img {
    max-width: 100%
}

.col-3-3 {
    padding: 40px;
    flex-basis: calc(100% / 3);
}

.payoff {
    height: 250px;
}

.call-to-action {
    background-color: #b4d0e7;
}

/* SECTION SPONSOR */

#sponsors {
    display: flex;
}

.squares {
    display: flex;
    flex-wrap: wrap;
}

#sponsors .square {
    width: calc(100vw /3);
    height: calc(100vw /3);
    
    display: flex;
    flex-wrap: wrap;
}

.square > .small-square {
    flex-basis: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.square > .square-smaa-2x {
    flex-basis: 100%;
    border: 1px dashed black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#sponsors img {
    width: 50%;
}

.designit {
    border: 15px solid #a2d39b;
    background-color: #a2d39b;
}

.designit:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #a2d39b;
}

#overlay {
    content: url(../img/designit.svg);
    height: 100px;
}

#overlay::before {
    content: url(../img/arizona_state_university.svg);
    height: 100px;
    background-color: #61082b;
}




.arizona {
    border: 15px solid #61082b;
    background-color: #61082b;
}

.arizona:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #61082b;
}

.florida {
    border: 15px solid #0093ce;
    background-color: #0093ce;
}

.florida:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #0093ce;
}

.topps {
    border: 15px solid #f00;
    background-color: #f00;
}

.topps:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #f00;
}
.world {
    border: 15px solid #d5001f;
    background-color: #d5001f;
}

.world:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #d5001f;
} 

.hearst {
    border: 15px solid #b4d0e7;
    background-color: #b4d0e7;
}

.hearst:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #b4d0e7;
} 


.planet {
    border: 15px solid #0d2481;
    background-color: #0d2481;
}

.planet:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #0d2481;
} 

.clear {
    border: 15px solid #ffd830;
    background-color: #ffd830;
}

.clear:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
    background-color: #ffd830;
} 


.square-small-2x > hr:nth-child(3) {
    margin: 40px 0;
}
.small-square > img {
    filter: invert(100%) sepia(100%) saturate(9%) hue-rotate(162deg) brightness(103%) contrast(103%);
        
} 

#sponsors .square-2x {
    display: flex;
    flex-wrap: nowrap;
}

.square-small-2x {
    padding: 40px;
    background-color: #eee;
}

#sponsors div.squares div.square-2x div.square-small-2x div.mg-bn img {
    max-width: 300px;
}

/* #FAQ */

/* #FOOTER */
.faq-items {
    border-top: 1px solid #aaa;
}

.faq-items:hover::after {
    content: "offre ai team 5000 GB di spazio di archiviazione con strumenti di sicurezza, condivisione e collaborazione facili da usare. Advanced include tutto lo spazio di cui hai bisogno, oltre a solidi controlli di sicurezza e avvisi.";
    padding-right: 8px;
}

.faq-end {
    border-bottom: 1px solid #aaa;
}

.faq-item {
    display: flex;
    justify-content: space-between;
}

.faq-items:hover .fa-caret-down {
    transform: rotate(180deg);
}

.footer {
    background-color: black;
    border: 1px dashed white;
    height: 450px;
    color: white;
}

.footer-nav .nav a {
    color: white;
    padding: 0;
}

.footer-nav .nav a {
    color: white;
    padding: 0;
    padding: 8px 16px;
    border-bottom: 0px solid var(--highlighted-color);
}

.footer-nav .nav a:hover {
    color: white;
    color: #aaa;
    padding: 0;
    padding: 8px 16px;
    border-bottom: 0px solid var(--highlighted-color);
}

.footer .footer-nav{
        display: flex;
}

.footer .footer-nav li{
        padding: 10px 0;
}

.change-language {
    display: flex;
}

.change-language > div {
    padding-right: 10px;
} 

.change-language a {
    color: white;
}


